body {
    overflow-x: hidden;
    
}

.logo-img {
    height: 50px;
    width: 50px;
}

.logo-name {
    color: #777a7f;
    display: inline-block;
    font-family: "Product Sans",Arial,sans-serif;
    font-size: 22px;
    line-height: 24px;
    padding-left: 8px;
    position: relative;
    top: -1.5px;
    vertical-align: middle;
}

.search-box {
    width: 75%;
    align-items: center;
    height: 95%;
    background-color: #f1f3f4 ;
}

.item1 {
    display: block;
    border: 1px solid #777a7f;
    border-radius: 8px;
}
.item1:hover {
    box-shadow: 1px 1px 3px grey;
}